# -*- coding: utf-8 -*-
# Adapted from https://github.com/python-poetry/poetry/blob/master/get-poetry.py

import sys
import os
from pathlib import Path

def find_vendors_version(root):
    root = Path(root)
    major = sys.version_info.major
    for minor in range(sys.version_info.minor, 0, -1):
        vendored = root / "poetry" / "_vendor" / "py{}.{}".format(major, minor)
        if vendored.exists():
            return vendored
    raise FileNotFoundError("No matching vendored packages found for current python version")

lib = os.path.normpath(os.path.join(os.path.realpath(__file__), "..", "src"))

sys.path.insert(0, lib)
sys.path.insert(0, str(find_vendors_version(lib)))

if __name__ == "__main__":
    from poetry.console import main
    main()
